@{
}
  <main>
    <section class="container main-section main-section-question cf">
      <a href="index" class="main-logo main-logo-question"><h1>logo</h1></a>
      <div class="main-question">
        <h2 class="main-question-text">Do you prefer working for someone or starting your own business?</h2>
        <ul class="main-question-list">
          <li><a href="#" class="js-btn">I have my own business!</a></li>
          <li><a href="#" class="js-btn">I want to start my own business.</a></li>
          <li><a href="#" class="js-btn">I want to work for someone.</a></li>
        </ul>
        <div class="main-pagination">
          <a href="family" class="main-pagination-prev">&lt;</a>
          <ul class="main-pagination-list">
            <li><a href="weather"></a></li>
            <li><a href="walkscore-transit"></a></li>
            <li><a href="family"></a></li>
            <li><a href="entrepreneur" class="active"></a></li>
            <li><a href="book"></a></li>
            <li><a href="often"></a></li>
            <li><a href="activities"></a></li>
            <li><a href="opportunities"></a></li>
            <li><a href="industry-jobs"></a></li>
            <li><a href="student"></a></li>
          </ul>
          <a href="book" class="main-pagination-next">&gt;</a>
        </div>
      </div>
    </section>
  </main>
