@{
}

<main>
    <section class="container main-section cf">
        <a href="index" class="main-logo"><h1>logo</h1></a>
        <p class="main-btn">
            <a href="weather" class="js-top-btn">start</a>
        </p>
    </section>
</main>