@{}
  <main>
    <section class="container main-section main-section-question cf">
      <a href="index" class="main-logo main-logo-question"><h1>logo</h1></a>
      <div class="main-question">
        <h2 class="main-question-text">Do you go to museums/theatres/shows often?</h2>
        <ul class="main-question-list">
          <li><a href="#" class="js-btn">Yes, I love the arts!</a></li>
          <li><a href="#" class="js-btn">Not really.</a></li>
        </ul>
        <div class="main-pagination">
          <a href="book" class="main-pagination-prev">&lt;</a>
          <ul class="main-pagination-list">
            <li><a href="weather"></a></li>
            <li><a href="walkscore"></a></li>
            <li><a href="family"></a></li>
            <li><a href="entrepreneur"></a></li>
            <li><a href="book"></a></li>
            <li><a href="often" class="active"></a></li>
            <li><a href="activities"></a></li>
            <li><a href="opportunities"></a></li>
            <li><a href="industry"></a></li>
            <li><a href="student"></a></li>
          </ul>
          <a href="activities" class="main-pagination-next">&gt;</a>
        </div>
      </div>
    </section>
  </main>
