@{
    
}

  <main>
    <section class="container main-section main-section-question cf">
      <a href="index" class="main-logo main-logo-question"><h1>logo</h1></a>
      <div class="main-question">
        <h2 class="main-question-text">Are you currently a student?</h2>
        <ul class="main-question-list">
          <li><a href="#" class="js-btn">Yes.</a></li>
          <li><a href="#" class="js-btn">No.</a></li>
        </ul>
        <div class="main-pagination">
          <a href="industry-jobs" class="main-pagination-prev">&lt;</a>
          <ul class="main-pagination-list">
            <li><a href="weather"></a></li>
            <li><a href="walkscore-transit"></a></li>
            <li><a href="family"></a></li>
            <li><a href="entrepreneur"></a></li>
            <li><a href="book"></a></li>
            <li><a href="often"></a></li>
            <li><a href="activities"></a></li>
            <li><a href="opportunities"></a></li>
            <li><a href="industry-jobs"></a></li>
            <li><a href="student" class="active"></a></li>
          </ul>
        </div>
      </div>
    </section>
  </main>
