html, body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a, a:hover {
	text-decoration: none;
}
header {
	position: relative;
	left: 0;
	background-color: #e74c3c;
	color: #ecf0f1;
	margin: 0;
	height: auto;
	padding: 1em;
	border-bottom: 0.5em solid #C0392B;
}

.header-logo {
	display: inline-block;
	margin-left: 2em;
	background-color: #929393;
	width: 5vw;
	height: 7vh;
}

.header-question {
	display: inline-block;
	position: absolute;
	margin: 0;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
}

footer {
	height: 15vh;
	width: 100%;
	background-color: #333333;
	position: relative;
	transform: translate(,-100%);
	bottom: 0;
	left: 0;
	color: #929393;
}

.footer-credits {
	/*position: absolute;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 5%;	
	top: 65%;
	height: 5vh;
	width: 50%;*/
	float: left;
	margin: 3em 0 0 2em;
}

.footer-social-media {
	/*position: absolute;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	left: 80%;
	top: 65%;
	height: auto;
	width: auto;*/
	float: right;
	margin: 2em 3em 0 0;
}

.footer-social-media a {
	bottom: 0;
	font-size: 2em;
	text-decoration: none;
	padding: 5px 5px 5px 5px;
	color: #929393;
}

.footer-social-media a:hover {
	color: #ecf0f1;
}

.empty {
	height: 80vh;
	background-color: #ecf0f1;
}