html, body {
  box-sizing: border-box;
  color:  #333;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #ecf0f1;
	text-decoration: none;
}

.main-result-wrapper {
	margin: 0 auto 0 auto;
	background: url(http://100destinations.co.uk/images/Vancouver_484634587_60847326@N00.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 90vh;
	background-color: transparent;
	border-bottom: 1px solid #DBDBDB;
}

.result-container {
	position: absolute;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	left: 50%;
	top: 60%;
	color:  #FFF;
}

.result-container p {
	font-size: 2.5em;
	font-weight: bold;
	letter-spacing: -1px;
}

.result-container h1 {
	font-size: 10em;
	font-weight: bold;
	letter-spacing: -1px;
	margin-top: 0;
}

.scroll-down {
	position: absolute;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	left: 50%;
	bottom: 0;
	width: auto;
	height: auto;
	text-align: center;
	font-size: 2.5em;
	color: #FFF;
}



/*DESCRIPTION*/

.description {
	position: relative;
	width: 85%;
	min-height: 100vh;
	height: auto;
	background-color: #FFF;
	border-bottom: 1px solid #bdc3c7;
	margin: 0 auto 0 auto;
}

.description-text {	
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	font-size: 1.5em;
	height: 40%;
	text-align: center;
}



/*FACTS*/

.facts-wrapper {
	width: 85%;
	min-height: 100vh;
	height: auto;
	background-color: #FFF;
	border-bottom: 1px solid #bdc3c7;
	margin: 0 auto 0 auto;
}

.facts-left {
	position: relative;
	float: left;
	width: 50%;
	height: 95vh;
	text-align: center;
}

.work {
	margin-top: 4em;
}

.work-stats {
	margin-bottom: 1em;
}

.work-stats img {
	display: inline-block;
	width: 4em;
	height: 4em;
	margin-right: 1em;
}

.work-stats p {
	display: inline-block;
	font-size: 1.5em;
}

.weather {
	margin-top: 4em;
}

.weather-stats h2 {
	text-decoration: underline;
	margin-bottom: 1em;
}

.weather-stats p {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.facts-right {
	float: right;
	width: 45%;
	min-height: 95vh;
	height: auto;
	padding: 2em 0 2em 0;
}

.did-you-know {
	margin: 2em 0 3em 0;
	height: 90%;
	background-color: #e74c3c;
	border-bottom: 0.5em solid #9D2C30;
	border-top: 0.5em solid #9D2C30;
	padding: 1em;
	color: #fff;
}

.did-you-know h2 {
	text-align: center;
	margin-bottom: 1em;
}

.did-you-know p {
	font-size: 1.2em;
	margin: 0 1em 0 1em;
}


/*MORE INFO*/

.more-info {
	width: 100%;
	height: 50vh;
	background-color: #FFF;
}

.more-info h1 {
	text-align: center;
	margin: 2em 0 2em 0;
	text-transform: uppercase;
}

@media (max-width: 975px) and (min-width: 751px) {
	.result-container {
		font-size: 0.8em;
	}
}

@media (max-width: 750px) and (min-width: 601px) {
	.description-text {
		font-size: 1.4em;
	}

	.result-container {
		font-size: 0.6em;
		text-align: center;
	}
	
	.result-container p {
		font-size: 4em;
	}

	.facts-left {
		float: none;
		margin: 0 auto 2em auto;
		font-size: 1.1em;
		text-align: center;
		width: 80%;
	}

	.facts-right {
		float: none;
		padding: 0;
		margin: 0 auto 0 auto;
		font-size: 1.1em;
		width: 80%;
	}
}

@media (max-width: 600px) {
	.description-text {
		font-size: 1.3em;
		width: 70%;
	}

	.result-container {
		font-size: 0.4em;
		text-align: center;
	}

	.result-container p {
		font-size: 5em;
	}

	.facts-left {
		float: none;
		margin: 0 auto 0 auto;
		font-size: 1.1em;
		text-align: center;
		width: 85%;
	}

	.facts-right {
		float: none;
		padding: 0;
		margin: 0 auto 0 auto;
		font-size: 1.1em;
		width: 85%;
	}
}